.custom-navbar {
  margin: 1%;
  padding: 1%;
  box-sizing: border-box; /* Ensures padding does not increase the element size */

  a {
    color: white;
  }

  overflow: hidden;
  position: fixed;
  top: 0;
  width: 98%;
  left: 0;
  background-color: #343535;
}

.outlet-container {
  margin-top: 10%;
}